# Download

## Audios and timing files

In [3]:
from utils import download_audios

In [ ]:
# 1) Parse HTML -> dict(name -> URL)
html_path = "html_files/audios/Apali.html"
links = download_audios.extract_artifact_links(html_path)

links

{'Matthew': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e6d',
  'section': 'New Testament - mp3'},
 'Mark': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e6f',
  'section': 'New Testament - mp3'},
 'Luke': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e77',
  'section': 'New Testament - mp3'},
 'John': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e70',
  'section': 'New Testament - mp3'},
 'Acts': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e81',
  'section': 'New Testament - mp3'},
 'Romans': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e7f',
  'section': 'New Testament - mp3'},
 '1 Corinthians': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e74',
  'section': 'New Testament - mp3'},
 '2 Corinthians': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e75',
  'section': 'New Testament - mp3'},
 'Galatians': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e82',
  'section': 'New Testament - mp3'},
 'Ephesians': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e86',
  'section': 'New Testament - mp3'},
 'Philippians': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e73',
  'section': 'New Testament - mp3'},
 'Colossians': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e76',
  'section': 'New Testament - mp3'},
 '1 Thessalonians': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e79',
  'section': 'New Testament - mp3'},
 '2 Thessalonians': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e7a',
  'section': 'New Testament - mp3'},
 '1 Timothy': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e7b',
  'section': 'New Testament - mp3'},
 '2 Timothy': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e7d',
  'section': 'New Testament - mp3'},
 'Titus': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e89',
  'section': 'New Testament - mp3'},
 'Philemon': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e71',
  'section': 'New Testament - mp3'},
 'Hebrews': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e78',
  'section': 'New Testament - mp3'},
 'James': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e87',
  'section': 'New Testament - mp3'},
 '1 Peter': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e7c',
  'section': 'New Testament - mp3'},
 '2 Peter': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e7e',
  'section': 'New Testament - mp3'},
 '1 John': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e83',
  'section': 'New Testament - mp3'},
 '2 John': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e84',
  'section': 'New Testament - mp3'},
 '3 John': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e85',
  'section': 'New Testament - mp3'},
 'Jude': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e72',
  'section': 'New Testament - mp3'},
 'Revelation': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e6e',
  'section': 'New Testament - mp3'},
 'Genesis': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e80',
  'section': 'Old Testament - mp3'},
 'Exodus': {'url': 'https://openbible-api-1.biblica.com/artifactContent/62e2eabb5dafb527681c6e88',
  'section': 'Old Testament - mp3'}}

In [ ]:
# 2) Download + unzip into folders
output_dir = output_base_dir / lang_name
download_audios.download_and_unzip_all(links, str(output_dir), overwrite=False, timeout=60)

# Parsing text files

## USX

In [1]:
from utils.usx_parser import usx_to_dataframe, usx_directory_to_dataframe

In [2]:
path = "data/texts/Tamil/USX/release/USX_1/1CO.usx"
df_tamil = usx_to_dataframe(path, include_headings=False)
df_tamil

    book  chapter  verse                                               text
0    1CO        1      1  தேவனுடைய விருப்பத்தினாலே கிறிஸ்து இயேசுவின் அப...
1    1CO        1      2  கொரிந்துவிலே கிறிஸ்து இயேசுவிற்குள் பரிசுத்தமா...
2    1CO        1      3  நம்முடைய பிதாவாகிய தேவனாலும் கர்த்தராகிய இயேசு...
3    1CO        1      4  கிறிஸ்துவைப்பற்றிய சாட்சி உங்களுக்குள்ளே உறுதி...
4    1CO        1      5  நீங்கள் இயேசுகிறிஸ்துவிற்குள்ளாக எல்லா உபதேசத்...
..   ...      ...    ...                                                ...
432  1CO       16     20  சகோதரர்களெல்லோரும் உங்களை வாழ்த்துகிறார்கள். ஒ...
433  1CO       16     21  பவுலாகிய நான் என் கையெழுத்தாலே உங்களை வாழ்த்து...
434  1CO       16     22  ஒருவன் கர்த்தராகிய இயேசுகிறிஸ்துவினிடத்தில் அன...
435  1CO       16     23  கர்த்தராகிய இயேசுகிறிஸ்துவினுடைய கிருபை உங்களோ...
436  1CO       16     24  கிறிஸ்து இயேசுவிற்குள்ளான என்னுடைய அன்பு உங்கள...

[437 rows x 4 columns]

In [3]:
path = "data/texts/Swahili/USX/release/USX_1/1CO.usx"

df_swahili = usx_to_dataframe(path, include_headings=False)
df_swahili

    book  chapter  verse                                               text
0    1CO        1      1  Paulo, niliyeitwa kwa mapenzi ya Mungu kuwa mt...
1    1CO        1      2  Kwa kanisa la Mungu lililoko Korintho, kwa wal...
2    1CO        1      3  Neema na amani itokayo kwa Mungu Baba yetu na ...
3    1CO        1      4  Ninamshukuru Mungu siku zote kwa ajili yenu kw...
4    1CO        1      5  Kwa kuwa katika Kristo mmetajirishwa kwa kila ...
..   ...      ...    ...                                                ...
432  1CO       16     20  Ndugu wote walioko hapa wanawasalimu. Salimian...
433  1CO       16     21  Mimi, Paulo, naandika salamu hizi kwa mkono wa...
434  1CO       16     22  Kama mtu yeyote hampendi Bwana Yesu Kristo, na...
435  1CO       16     23                     Neema ya Bwana Yesu iwe nanyi.
436  1CO       16     24  Upendo wangu uwe nanyi nyote katika Kristo Yes...

[437 rows x 4 columns]

In [4]:
path = "data/texts/Yoruba/USX/release/USX_1/1CO.usx"

df_yoruba = usx_to_dataframe(path, include_headings=False)
df_yoruba

    book  chapter  verse                                               text
0    1CO        1      1  Paulu, ẹni ti a pé láti jẹ́ aposteli Kristi Je...
1    1CO        1      2  Sí ìjọ ènìyàn Ọlọ́run ni Kọrinti, sí àwọn ti a...
2    1CO        1      3  Oore-ọ̀fẹ́ àti àlàáfíà fún yín láti ọ̀dọ̀ Ọlọ́...
3    1CO        1      4  Nígbà gbogbo ni mo ń dúpẹ́ lọ́wọ́ Ọlọ́run fún ...
4    1CO        1      5  Nítorí nínú rẹ̀ ni a ti sọ yín di ọlọ́rọ̀ nínú...
..   ...      ...    ...                                                ...
432  1CO       16     20  Gbogbo àwọn arákùnrin kí í yín. Ẹ fi ìfẹnukonu...
433  1CO       16     21    Ìkíni ti èmi Paulu, láti ọwọ́ èmi tìkára mi wá.
434  1CO       16     22  Bí ẹnikẹ́ni kò bá ní ìfẹ́ Jesu Kristi Olúwa, j...
435  1CO       16     23    Oore-ọ̀fẹ́ Jesu Kristi Olúwa kí ó wà pẹ̀lú yín!
436  1CO       16     24  Ìfẹ́ mi wá pẹ̀lú gbogbo yín nínú Kristi Jesu. ...

[437 rows x 4 columns]

In [6]:
path = "data/texts/Apali/USX/release/USX_1/1CO.usx"

df_apali = usx_to_dataframe(path, include_headings=True)
df_apali

    book  chapter  verse                                               text
0    1CO        1      1  Polɨ agaŋ ciaŋ manasɨŋ hɨvɨ nameŋ lɨbami. Viaŋ...
1    1CO        1      2  Asɨ dɨ hulaŋ iamɨgali Kolin haiabɨla hɨnilalaŋ...
2    1CO        1      3  Aludɨ Iavaŋ Asɨ agaŋ aludɨ Hekɨlɨ Jisasɨ Kɨlai...
3    1CO        1      4  Asɨ nalusaŋ mavɨn hɨniavɨla Jisasɨ Kɨlaisɨ dɨ ...
4    1CO        1      5  Vaka Asɨ dɨ ciaŋ sulɨdamɨli igahɨlahalaŋ agaŋ ...
..   ...      ...    ...                                                ...
415  1CO       16     20  Naludɨ isagali imahali me sɨkasɨkan agɨlaŋ avi...
416  1CO       16     21  Viaŋ Polɨ uami. Nalusaŋ lamula lamula manasɨŋ ...
417  1CO       16     22  Hulaŋ mu aludɨ Hekɨlɨ hula hɨnihɨni saŋ mavɨn ...
418  1CO       16     23  Aludɨ Hekɨlɨ Jisasɨ agaŋ nalusaŋ mavɨn hɨnibal...
419  1CO       16     24  Viaŋ Jisasɨ Kɨlaisɨ hula hɨji humɨgaŋ pam hɨni...

[420 rows x 4 columns]

In [ ]:
path = "data/texts/Toma/USX/tod_usfx.xml"

df_apali = usx_to_dataframe(path, include_headings=True)
df_apali

(0, 0)

In [25]:
path = "data/texts/Bengali/USX/release/USX_1/MAT.usx"

df_apali = usx_to_dataframe(path, include_headings=True)
df_apali

ValueError: Unexpected USX id format: 'MAT 18:10,11'

In [14]:
import os
from pathlib import Path
import pandas as pd
from tqdm import tqdm
from utils.usx_parser import usx_to_dataframe


def test_usx_parser_all_files(texts_dir: str = "data/texts") -> pd.DataFrame:
    """
    Test usx_to_dataframe on all USX files in the texts directory.
    
    Args:
        texts_dir: Path to the texts directory containing language folders.
        
    Returns:
        DataFrame with columns: language, file_path, success, error_message, num_rows
    """
    texts_path = Path(texts_dir)
    
    # Find all USX files
    # Include all USX files under the texts_path (looks for any .usx at any subdirectory depth)
    usx_files = list(texts_path.glob("**/*.usx"))
    
    results = []
    for usx_file in tqdm(usx_files, desc="Testing USX files"):
        # Extract language from path (first directory under texts_dir)
        relative_path = usx_file.relative_to(texts_path)
        language = relative_path.parts[0]
        
        # Test parsing
        try:
            df = usx_to_dataframe(usx_file, include_headings=False)
            results.append({
                "language": language,
                "file_path": str(usx_file),
                "success": True,
                "error_message": None,
                "num_rows": len(df)
            })
        except Exception as e:
            results.append({
                "language": language,
                "file_path": str(usx_file),
                "success": False,
                "error_message": str(e),
                "num_rows": None
            })
    
    return pd.DataFrame(results)


# Run the test
results_df = test_usx_parser_all_files()
results_df

Testing USX files: 100%|██████████| 2514/2514 [00:33<00:00, 75.08it/s]

,language,file_path,success,error_message,num_rows
0,Apali,data/texts/Apali/USX/release/USX_1/1CO.usx,True,None,420.0
1,Apali,data/texts/Apali/USX/release/USX_1/1JN.usx,True,None,103.0
2,Apali,data/texts/Apali/USX/release/USX_1/1PE.usx,True,None,103.0
3,Apali,data/texts/Apali/USX/release/USX_1/1TH.usx,True,None,84.0
4,Apali,data/texts/Apali/USX/release/USX_1/1TI.usx,True,None,109.0
...,...,...,...,...,...
2509,Yoruba,data/texts/Yoruba/USX/release/USX_1/RUT.usx,True,None,85.0
2510,Yoruba,data/texts/Yoruba/USX/release/USX_1/SNG.usx,True,None,117.0
2511,Yoruba,data/texts/Yoruba/USX/release/USX_1/TIT.usx,True,None,46.0
2512,Yoruba,data/texts/Yoruba/USX/release/USX_1/ZEC.usx,True,None,211.0
2513,Yoruba,data/texts/Yoruba/USX/release/USX_1/ZEP.usx,True,None,53.0

In [22]:
results_df["language"].nunique()

39

In [23]:
all_files = os.listdir("data/texts")
set(all_files) - set(results_df["language"])

{'Toma'}

In [24]:
# Summary statistics
print(f"Total files tested: {len(results_df)}")
print(f"Successful: {results_df['success'].sum()}")
print(f"Failed: {(~results_df['success']).sum()}")
print(f"\nLanguages: {results_df['language'].nunique()}")

# Show failures if any
failed_df = results_df[~results_df['success']]
if len(failed_df) > 0:
    print(f"\n--- Failed files ---")
    display(failed_df)
else:
    print("\nAll files parsed successfully!")
    
# Summary by language
summary_by_lang = results_df.groupby('language').agg({
    'success': ['sum', 'count'],
    'num_rows': 'sum'
}).reset_index()
summary_by_lang.columns = ['language', 'successful_files', 'total_files', 'total_rows']
summary_by_lang['success_rate'] = summary_by_lang['successful_files'] / summary_by_lang['total_files']
print("\n--- Summary by language ---")
summary_by_lang

Total files tested: 2514
Successful: 2513
Failed: 1

Languages: 39

--- Failed files ---

,language,file_path,success,error_message,num_rows
209,Bengali,data/texts/Bengali/USX/release/USX_1/MAT.usx,False,"Unexpected USX id format: 'MAT 18:10,11'",NaN

--- Summary by language ---

           language  successful_files  total_files  total_rows  success_rate
0             Apali                29           29     10218.0      1.000000
1   Arabic Standard                66           66     31103.0      1.000000
2          Assamese                66           66     31092.0      1.000000
3           Bengali                65           66     30026.0      0.984848
4   Central Kurdish                66           66     31103.0      1.000000
5     Chhattisgarhi                66           66     31103.0      1.000000
6          Chichewa                66           66     31104.0      1.000000
7             Dawro                66           66     30815.0      1.000000
8            Dholuo                66           66     31103.0      1.000000
9               Ewe                66           66     31103.0      1.000000
10             Gamo                66           66     30906.0      1.000000
11             Gofa                66           66     30977.0      1.000000
12         Gujarati                66           66     31104.0      1.000000
13   Haitian Creole                66           66     31103.0      1.000000
14         Haryanvi                27           27      7918.0      1.000000
15            Hausa                93           93     39029.0      1.000000
16       Hiligaynon                66           66     30334.0      1.000000
17            Hindi                66           66     31087.0      1.000000
18             Igbo                66           66     31103.0      1.000000
19          Kannada                66           66     31090.0      1.000000
20           Kikuyu                66           66     31101.0      1.000000
21          Lingala                66           66     31169.0      1.000000
22          Luganda                66           66     31104.0      1.000000
23        Malayalam                66           66     31102.0      1.000000
24          Marathi                66           66     31087.0      1.000000
25          Ndebele                66           66     31103.0      1.000000
26            Oromo                66           66     31102.0      1.000000
27          Punjabi                66           66     31104.0      1.000000
28            Shona                66           66     31103.0      1.000000
29          Swahili                66           66     31103.0      1.000000
30            Tamil                66           66     31103.0      1.000000
31           Telugu                66           66     31004.0      1.000000
32          Turkish                66           66     31064.0      1.000000
33    Twi (Akuapem)                66           66     31100.0      1.000000
34     Twi (Asante)                66           66     31100.0      1.000000
35        Ukrainian                55           55     18440.0      1.000000
36             Urdu                66           66     31104.0      1.000000
37       Vietnamese                66           66     31096.0      1.000000
38           Yoruba                66           66     31087.0      1.000000